<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pattlebass.godot_file_sharing">

    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.GodotFileSharing"
            android:value="com.pattlebass.godot_file_sharing.GodotFileSharing" />
    </application>

</manifest>